<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Change post</title>
<script type="text/javascript"
	src="../webjars/jquery/3.2.1/dist/jquery.min.js"></script>
<link rel="stylesheet" th:href="@{/css/main.css}"
	href="../../static/css/main.css" />
<script th:src="@{/js/app.js}"></script>
<div th:replace="fragments/header :: header-css" />

</head>
<body>

	<div th:replace="fragments/header :: header" />





	<div class="container">
		<div class="starter-template">
			<form th:action="@{/changePost/}+${post.id}" method="post" th:object="${post}"  enctype="multipart/form-data">
				<div class="modal-body mx-3">

					<div class="md-form mb-5">

						<label data-error="wrong" data-success="right" for="form34">Insert
							new title</label>
						<div th:if="${#fields.hasErrors('title')}" th:errors="*{title}"
							class="alert alert-danger">
							<p th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p>
						</div>

						<i class="fa fa-user prefix grey-text"></i> <input type="text"
							id="form34" class="form-control validate" th:placeholder="${post.title}" th:field="*{title}" />


					</div>

					<div class="md-form mb-5">

						<label data-error="wrong" data-success="right" for="form29">Insert
							body</label>
						<div th:if="${#fields.hasErrors('body')}" th:errors="*{body}"
							class="alert alert-danger">
							<p th:if="${#fields.hasErrors('body')}" th:errors="*{body}"></p>
						</div>
						<i class="fa fa-envelope prefix grey-text"></i>
						<textarea rows="4" cols="50" name="comment"
							class="form-control validate" th:placeholder="${post.body}" th:field="*{body}"></textarea>
						<label data-error="wrong" data-success="right" for="form29">Insert new cover (optional)</label>	
						<input type="file"  name="file" />
					</div>



				</div>
				<div class="modal-footer d-flex justify-content-center">
					<button type="submit" class="btn btn-primary">
						Change post<i class="fa fa-paper-plane-o ml-1"></i>
					</button>
				</div>
			</form>


		</div>

	</div>


	<!-- /.container -->

	<div th:replace="fragments/footer :: footer" />

</body>
</html>