<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<script type="text/javascript"
	src="../webjars/jquery/3.2.1/dist/jquery.min.js"></script>
<script src="../webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" th:href="@{/css/main.css}"
	href="../../static/css/main.css" />
<script th:src="@{/js/app.js}"></script>
<div th:replace="fragments/header :: header-css" />
</head>
<body>

	<div th:replace="fragments/header :: header" />

	<div th:if="${commentSuccess != null}" class="alert alert-success">
		<p th:text="#{dashboard.commentSuccess}"></p>
	</div>

	<div class="container" id="blogbody">
		<div class="starter-template">
			<div class="row">
				<div class="leftcolumn">
					<div class="card">
						<h2 th:text="${post.title}">Title</h2>
						<h5>
							<span>Posted on </span><span th:text="${post.date}">Date</span><i>
								by </i><span th:text="${post.userName}">Username</span>
								<br /> <span
								th:if="${loggedUser != null and loggedUser.username == post.userName}"><a
								th:href="@{/deletePost/}+${post.id}">Delete</a> | <a th:href="@{/changePost/}+${post.id}">Change</a></span>
						</h5>

						<div  style="height: 200px;">
							<img class="fakeimg" th:src="@{${post.path}}"  height="200"/>
						</div>
						<p class="content" th:utext="${post.body}">Post body</p>
						<br/>
						<div>
							<h4>Rating
							<br/>
					          <span th:if="${loggedUser != null}" id="up" th:onclick="'upVote(' + ${post.id} + ',\'' +  ${loggedUser.username} + '\')'" class="glyphicon glyphicon-plus"></span>
							<span th:id="'rating' + ${post.id}" th:text="${post.rating}"></span>
							<span th:if="${loggedUser != null}" id="down" th:onclick="'downVote(' + ${post.id} + ',\'' +  ${loggedUser.username} + '\')'" class="glyphicon glyphicon-minus"></span>
							</h4>
							<div th:id="'successVote' + ${post.id}"  class="alert alert-success collapse">
							   	<p th:text="#{dashboard.successVote}"></p>
							</div>
						</div>
					</div>
					
					<div class="card">
						<h2>Comments</h2>
						<hr/>
						<div th:if="${comments.size() == 0}">There are no comments yet!</div>
						<div th:each="c : ${comments}">
							<h5>
								<i><span th:text="${c.userName}"></span><span> on </span><span th:text="${c.date}">Date</span></i>
								
								<a th:href="@{/deleteComment/}+${post.id}+'?commentId='+${c.id}"><span class="glyphicon glyphicon-trash"  th:if="${loggedUser != null and loggedUser.username == c.userName}"></span></a>
							</h5>
							<h4 th:text="${c.body}">Comment</h4>
							
							<br/>
							<hr/>
						</div>	
						
					</div>
					
					<div class="card" sec:authorize="isAuthenticated()">
						<h2>Add comment</h2>
						
						<form th:action="@{/addComment/}+${post.id}" method="post" th:object="${comment}">
							<label data-error="wrong" data-success="right" for="form34">Insert
							comment</label>
						<div th:if="${#fields.hasErrors('body')}" th:errors="*{body}"
							class="alert alert-danger">
							<p th:if="${#fields.hasErrors('body')}" th:errors="*{body}"></p>
						</div>

						<i class="fa fa-user prefix grey-text"></i> <input type="text"
							id="form34" class="form-control validate" th:field="*{body}" />
					
						<div class="modal-footer d-flex justify-content-center">
							<button type="submit" class="btn btn-primary">
								Add comment<i class="fa fa-paper-plane-o ml-1"></i>
							</button>
						</div>	
						</form>	
						
					</div>

				</div>

			</div>
		</div>

	</div>

	<!-- Post delete modal -->
	<div class="modal" tabindex="-1" role="dialog" id="hoho">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Delete confirmation</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p>Are you sure you want to delete post?</p>
				</div>
				<div class="modal-footer">
					<a id="deletePostUrl">
						<button type="button" class="btn btn-primary">Delete</button>
					</a>
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">Cancel</button>
				</div>
			</div>
		</div>
	</div>
	<!-- /.container -->

	<div th:replace="fragments/footer :: footer" />

</body>
</html>