<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Blogsproject mainpage</title>
<script type="text/javascript"
	src="webjars/jquery/3.2.1/dist/jquery.min.js"></script>
<link rel="stylesheet" th:href="@{/css/main.css}"
	href="../../static/css/main.css" />
<script th:src="@{/js/app.js}"></script>
<div th:replace="fragments/header :: header-css" />

</head>
<body>

	<div th:replace="fragments/header :: header" />
	




	<div class="container" id="blogbody">
		<div class="starter-template">
			<div class="row">
				<div  class="alert alert-success">
					<p th:text="'Found ' + ${posts.size() + ' posts!'}"></p>
				</div>
				<div class="leftcolumn">

				
					<div class="card" th:each="p : ${posts}">
						<a th:href="@{/post/}+${p.id}"><h2 th:text="${p.title}">Title</h2></a>
						<h5>
							<span>Posted on </span><span th:text="${p.date}">Date</span><i>
								by </i><span th:text="${p.userName}">Username</span> <br /> <span
								th:if="${user != null and user.username == p.userName}"><a
								th:onclick="'deletePostPre(' + ${p.id} + ')'"
								data-toggle="modal" href="#deletePost">Delete</a> | <a th:href="@{/changePost/}+${p.id}">Change</a></span>
						</h5>

						<div  style="height: 200px;">
							<img class="fakeimg" th:src="@{${p.path}}"  height="200"/>
						</div>
						<p class="content" th:utext="${p.body}">Post body</p>
					</div>
					
		

				</div>

			</div>
		</div>

	</div>

	<!-- Person delete modal -->
	<div class="modal" tabindex="-1" role="dialog" id="deletePost">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Delete confirmation</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p>Are you sure you want to delete post?</p>
				</div>
				<div class="modal-footer">
					<a id="deletePostUrl">
						<button type="button" class="btn btn-primary">Delete</button>
					</a>
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">Cancel</button>
				</div>
			</div>
		</div>
	</div>
	<!-- /.container -->

	<div th:replace="fragments/footer :: footer" />

</body>
</html>